<h1>All Bookmarks</h1>
<% @topics.each do |topic| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading" id="bookmark-topic">
        <%= link_to topic.title, topic %>
        <%= link_to "Edit", edit_topic_path(topic), class: 'btn btn-success' %>
        <%= link_to "Delete", topic, method: :delete, class: 'btn btn-danger', remote: true %>
        <% topic.bookmarks.each do |bookmark| %>
          <%= link_to bookmark.url, bookmark %>
        <% end %>
        <%= render 'bookmarks/form', bookmark: Bookmark.new %>
      </h4>
    </div>
  </div>
<% end %>
<%= render 'topics/form', topic: Topic.new %>
