<div class="container">
  <h1>All Bookmarks</h1>
  <% @topics.each do |topic| %>
    <div class="row">
      <div class="col-md-12">
        <h3 class="media-heading text-uppercase" id="bookmark-topic">
          <%= link_to topic.title, topic %>
          <%= link_to "", edit_topic_path(topic), class: 'glyphicon glyphicon-edit' %>
          <%= link_to "", topic, method: :delete, class: 'glyphicon glyphicon-trash', id: 'trash' %>
        </h3>
      </div>
    </div>
    <% topic.bookmarks.each_slice(4) do |bookmarks| %>
      <div class="row bookmark-row">
        <% bookmarks.each do |bookmark| %>
          <div class="col-md-3 url-tile">
            <% @object = LinkThumbnailer.generate(bookmark.url) %>
            <div class="url-title">
              <%= link_to @object.title, bookmark.url, :target => "_blank", class: 'bookmarktitle' %>
            </div>
            <div class="url-preview">
              <span class="helper"></span><%= image_tag @object.images.first.src.to_s, class: 'img-thumbnail' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class='topic-form'>
    <%= render 'topics/form', topic: Topic.new %>
  </div>
</div>
