<h1>All Bookmarks</h1>
<% @topics.each do |topic| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading" id="bookmark-topic">
        <%= link_to topic.title, topic %>
        <%= link_to "", edit_topic_path(topic), class: 'glyphicon glyphicon-edit' %>
        <%= link_to "", topic, method: :delete, class: 'glyphicon glyphicon-trash', id: 'trash' %>
        <% topic.bookmarks.each do |bookmark| %>
          <%= link_to bookmark.url, bookmark.url, :target => "_blank" %>
        <% end %>
      </h4>
    </div>
  </div>
<% end %>
<%= render 'topics/form', topic: Topic.new %>
